{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{url_for('static', filename='styles/auth.css')}}">
{% endblock %}

{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="flash">
      {{message}}
    </div>
  {% endfor %}
  <div>
    <form class="change-password" method = "post">
      <div class="username-container">
        <label for="username">Brukernavn</label>
        <input name="username" id="username" required>
      </div>
      <div class="password-container">
        <label for="password">Passord</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div>
        <label for="confirm_password" name="confirm_password">Bekreft passord</label>
          <input type="password" name="confirm_password" id="confirm_password" required>
      </div>
      <div>
        <button class="submit-button" type="submit">Bekreft</button>
      </div>
    </form>
  </div>
{% endblock %}