{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{url_for('static', filename='styles/auth.css')}}">
{% endblock %}

{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="flash">
      {{message}}
    </div>
  {% endfor %}
    <div>
      <form class="change-password" method = "post">
        <div class="previous-password-container">
          <label for="previous_password">Passord</label>
          <input type="password" name="previous_password" id="previous_password" required>
        </div>
        <div class="new-password-container">
          <label for="password">Nytt passord</label>
          <input type="password" name="new_password" id="new_password" required>
        </div>
        <div class="confirm-password-container">
          <label for="confirm_password" name="confirm_password">Bekreft passord</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
        </div>
        <div>
          <button class="submit-button" type="submit">Bekreft</button>
        </div>
      </form>
    </div>

{% endblock %}