{% extends 'tasks/nav.html' %}



{% block content %}
  <h1>
    Tall og tallregning
  </h1>
  <div class="tasks-category-nav">
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Brøk, prosent og desimaltall
        </div>
      </div>
    </a>
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Brøkregning
        </div>
      </div>
    </a>
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Delelighet
        </div>
      </div>
    </a>
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Kvadrattall og kvadratrot
        </div>
      </div>
    </a>
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Overslag
        </div>
      </div>
    </a>
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Potenser
        </div>
      </div>
    </a>
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Primtalls-faktorisering
        </div>
      </div>
    </a>
    <a href="{{url_for('pages.not_developed')}}">
      <div class="tasks-page-nav">
        <div class="rulebook-description">
          Regne-rekkefølge
        </div>
      </div> 
    </a>
  </div>

{% endblock %}